@import 'bourbon';
@import 'theme';

body {
	background-color: $brand-green;
	margin: 0 auto;
	font-family: $base-font-family;
	font-size: 16px;
	@include display(flex);
	@include flex-direction(column);
	min-height: 100vh;
}

.box {
	max-width: 1170px;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

// Reset the box-sizing
* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

@import 'forms';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'nav';
@import 'container';
@import 'contact';
@import 'home';
