input,
label {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  margin-bottom: modular-scale($base-spacing, -6, $golden);
}

textarea,
input {
	margin-bottom: modular-scale($base-spacing, -1, $golden);
	padding: modular-scale($base-spacing, -3, $golden);
	background-color: $white;
	border-radius: border-radius;
	border: 1px solid $white;
	font-family: $base-font-family;
	font-size: $base-font-size;
	&:focus {
	outline: none;
	}
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: modular-scale($base-spacing, -4, $golden);
}
