.home-page { 
	@include display(flex);
	.box {
		text-align: center;
		@include flex(1);
		@include align-self(center);
		.company-name {
			font-size: 8vmin;
			font-weight: bold;
			display: block;
		}
	}
}