body {
  background-color: #353d48;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Sans-Serif;
  font-size: 16px;
  margin: 0 auto;
  min-height: 100vh; }

.box {
  margin: 0 auto;
  max-width: 1170px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

input,
label {
  display: block;
  font-family: Sans-Serif;
  font-size: 16px; }

label {
  margin-bottom: 1.39338px; }

textarea,
input {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  font-family: Sans-Serif;
  font-size: 16px;
  margin-bottom: 15.45117px;
  padding: 5.90207px; }
  textarea:focus,
  input:focus {
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 3.64776px; }

button,
input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #353d48;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-family: Sans-Serif;
  font-size: 16px;
  padding: 9.54955px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

header .box {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header .box logo {
    color: #fff;
    font-size: 4.5vmax;
    padding: 15.45117px; }

footer {
  background-color: #222;
  color: #fff;
  padding: 25px 15.45117px;
  text-align: right; }

nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  nav ul li {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 4px solid transparent; }
    nav ul li a {
      color: #fff;
      display: block;
      padding: 15.45117px;
      text-decoration: none; }
    nav ul li.active {
      padding: 15.45117px; }
    nav ul li:hover,
    nav ul li.active {
      border-top-color: #fff; }

.container {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .container .box {
    color: #fff;
    padding: 15.45117px; }

.contact-page .box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .contact-page .box form {
    min-width: 40%;
    width: 50vmin; }
    .contact-page .box form textarea,
    .contact-page .box form input {
      width: 100%; }
    .contact-page .box form .right {
      text-align: right; }

.home-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .home-page .box {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
    .home-page .box .company-name {
      display: block;
      font-size: 8vmin;
      font-weight: bold; }

/*# sourceMappingURL=app.css.map */